[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = ssh24
	email = sshasan10@hotmail.com
[push]
	default = simple
[alias]
  br = branch
  branches = branch -vva
  cb = "!f() { git rev-parse --abbrev-ref HEAD; }; f"
  chkm = checkout master
  chkb = "!f() { git checkout -b $1; }; f"
  delb = "!f() { git branch -D $1; }; f"
  purge = !"git branch --merged | grep -Ev '\\*|master' | xargs -n 1 git branch -d"
  st = status
  dl = log --decorate
  addup = "!f() { git add $1; }; f"
  stage = add .
  rmv = "!f() { git rm --cached $1; }; f"
  amend = commit --amend --no-edit
  cp = "!f() { git cherry-pick $1; }; f"
  rem = remote -v
  remadd = "!f() { git remote add $1 https://github.com/$2/$3.git; }; f"
  remaddu = "!f() { git remote add upstream https://github.com/$1/$2.git; }; f"
  remrmv = "!f() { git remote remove $1; }; f"
  fet = fetch -p
  fetu = fetch -p upstream
  rbm = "!f() { git fet && git rb origin master; }; f"
  rb = "!f() { git rebase -i $1/$2; }; f"
  do = "!f() { git add $1 && git amend; }; f"
  doup = "!f() { git add $1 && git amend && git fpoc; }; f"	 
  fet = fetch -p
  fetu = fetch -p upstream
  rem = remote -v
  remadd = "!f() { git remote add upstream https://github.com/$1/$2.git; }; f"
  cp = "!f() { git cherry-pick $1; }; f"
  purge = !"git branch --merged | grep -Ev '\\*|master' | xargs -n 1 git branch -d"
  send = "!f() { git amend && git fpoc; }; f"
[core]
  editor = vim
